
body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url("../img/Fondo.png");
    background-size: cover;
    padding:3%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: moverFondo 10s ease-in-out infinite alternate;
}
@keyframes moverFondo{
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 100%;
    }
}
.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding-inline: 2%;
    min-height: 15vw;
    max-height: 25vw;
    background: rgba(198, 224, 210, 0.5);
    backdrop-filter: blur(15px);
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20px;

}

.titulo h2 {
    font-size: 18px;
    color: #2c3938;
    margin-inline: 5px;
}

.Formulario {
    background-color: rgb(201, 231, 223);
    padding: 3%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    height: auto;
    min-height: 12.3vw;
}

.item {
    margin-bottom: 4%;
}
p {
    margin: 0 0 5px 0;
    font-size: 1vw;
    color:rgb(16, 88, 76); ;
}

.item input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}
.item input:focus {
    border-color: rgb(16, 88, 76); ;
    outline: none;
}

.item input:hover{
    box-shadow:0 0 10px rgba(5, 91, 52, 0.3)
}
.botones{
    display: flex;
    justify-content: center;
}
.boton {
    width: 100%;
    padding: 10px;
    background-color:rgb(16, 88, 76);
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    margin-right: 20px;
    max-width: 150px;
    margin: 5px;
}
.boton:hover{
    color:rgb(16, 88, 76);
    background-color: #ffffff;
    box-shadow:0 0 5px rgba(22, 214, 128, 0.7)
}
select{
    border: 1px solid #ccc;
    display: flex;
    justify-self:center;
    border-color: transparent;
    border-radius: 5px;
    option{
        border-color: transparent;
    }
}
.selector {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    color:#707070;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
input:focus, button:focus {
    outline: 2px solid rgba(255, 255, 255, 0.3); /* Borde tenue */
}

.selector:hover {
    box-shadow: 0 0 5px rgba(22, 214, 128, 0.7);
}
