body{
    background-color:  transparent;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    flex-direction: column;
    min-height: 100vh;
}

.Container{
    display: flex;
    flex-direction: row;
}
.Menu{
    width: 30%;
    margin-top: 3vw;
    padding:0;
    margin: 0; 
    background-color: rgb(28, 123, 107);
    display: flex;
    justify-content: space-around;
    align-items:center;
}

.Menu ul {
    display: flex;
    align-content: center;
    justify-content: space-between; 
    list-style: none;
    width: 95%; 
    padding:0;
    padding-left: 3vw;
    margin: 0;
    font-size: 2vw;
}
.Menu a{
    padding-left: 1%;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-inline: 10px;
}
.Menu img{
    height: 2vw;
}


.Menu li:hover{
    filter: grayscale(100%);
    filter: brightness(0) invert(1); 
    font-size: 2.2vw;
    transition-duration: 1s;
}

.Info {
    background-color: rgb(161, 225, 194);
    width: 80%;
}

.Info iframe{
    width: 100%;
    height: 100%;
}