body{
    background-color: rgb(219, 255, 245);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
header{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, rgba(255, 255, 255, 1)),url('/img/Fondo.png'); 
    background-size: cover; /* La imagen cubre toda la superficie */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que se repita */
    padding-top: 10%;
    margin-bottom: 2%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    animation: moverFondo 15s ease-in-out infinite alternate;
}

@keyframes moverFondo{
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 100%;
    }
}

.titulo{
    background-color: rgb(75, 165, 150);
    align-content: center;
    
}
.titulo .Enc{
    padding-left: 5dvh;
    height: 8vw;
    display: flex;
    align-content:center;
    justify-content: left;
}
.titulo .Enc img{
    border-radius: 100%;
    height: 75%;
    align-self: center;
}
.titulo .Enc h1{    
    font-family: 'Courier New', Courier, monospace;
    margin-left: 3.5%;
    font-size:3.5vw;
    align-self: center;
    color: aliceblue;
}
.info{
    background-color: rgb(106, 199, 184);
    padding:0;
    margin: 0; 
    display: flex;
    justify-content: space-around;
    align-items:center;
    height: 2.5vw;
    order: 1px solid #ccc;
    overflow: hidden;
    font-size: 1.5vw;
    color:rgb(16, 88, 76); ;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    letter-spacing: 10px;
    font-weight: 800;

}

.info ul{
    padding:0;
    margin: 0; 
    width: 100%;
    display: flex;
    align-content:center;
    justify-content:space-around;
    list-style: none;
    
}

.info ul li {
    width: 80%;
    flex:  0 0 100%;
    animation: slide 6s infinite;
    text-align: center;
    align-self: center;
    
}

.carrusel{
    position: relative;
    height:30vw ;
    display: flex;
    justify-content:space-around;
    align-content: center;
    background-color: aliceblue;
}

.carrusel .imagebox{
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 100%;
    flex:  0 0 100%;
    animation: slide 6s infinite;
    text-align: center;
    align-self: center;
}

@keyframes slide {
    0%, 33% { transform: translateX(0%); }
    34%, 66% { transform: translateX(-100%); }
    67%, 100% { transform: translateX(-200%); }
}

.Menu{
    padding:0;
    margin: 0; 
    background-color: rgb(28, 123, 107);
    display: flex;
    justify-content: space-around;
    align-items:center;
    height: 6vw;
}

.Menu ul {
    display: flex;
    align-content: center;
    justify-content: space-between; 
    list-style: none;
    width: 85%; 
    padding:0;
    margin: 0;
    font-size: 1.8vw;
}
.Menu a{
    color: black;
    text-decoration: none;
    margin-inline: 10px;
}
.Menu img{
    height: 2vw;
}


.Menu li:hover{
    filter: grayscale(100%);
    filter: brightness(0) invert(1); 
    font-size: 2.2vw;
    transition-duration: 1s;
}
.Menu2{
    padding:0;
    margin: 0; 
    background-color:rgb(28, 123, 107);
    display: flex;
    justify-content: space-around;
    align-items:center;
    height: 10vw;
    box-shadow: 10px 5px 15px 10px rgb(1, 1, 1,0.3);
}

.Menu2 ul {
    display: flex;
    align-content: center;
    justify-content:space-around;
    list-style: none;
    width: 95%; 
    padding:0;
    margin: 0;
    font-size: 1.8vw;
    font-size: 1.5vw;
}
.Menu2 a{
    
    color: black;
    text-decoration: none;
    margin-inline: 5px;
}
.Menu2 img{
    height: 1.5vw;
    image-resolution: 420px;
}


.Menu2 li:hover{
    filter: grayscale(100%);
    filter: brightness(0) invert(1); 
    transition-duration: 1s;
}
main h2{
    text-align: left;
    padding-left: 10%;
    font-size: 4vw;
    color: rgb(9, 76, 65);
}
main{
    background-size: cover;
    background-repeat:no-repeat;
    background: url('/img/Fondo.png');
    padding-bottom: 2vw;
}
main p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2vw;
    text-align: justify;
    padding-inline: 10%;
    line-height: 2;
    color: rgb(70, 89, 82);
}

.eslogan{
        font-size: 2vw;
        font-weight: bold;
        color: rgb(28, 123, 107);
        text-align: center;
}

.ficha{
    background: rgba(198, 224, 210, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 5vw;
    padding: 1%;
    padding-top: 5px;
    margin: 3%;
    box-shadow: 10px 10px 15px rgba(0, 57, 33, 0.2);
}